

#about {
  background: white;
  padding: 20px;
  border: .5px solid #57645d;
  color: #57645d;
  text-indent: left;
}

#about-content {
  text-align: left;
  background: white;
}

#about h1 {
  color: #6CA1B1;
}

#admin-links {
  float: right;
  height: 20px;
  margin-right: 20px;     
}

#admin-links ul li  {
  list-style: none;
  text-decoration: none;
}
#admin-links ul li a {
  text-decoration: none;
  color: #555;
}

#article-image {
  float: left;
 }




#article-links {
  list-style-type: none;
}

#article-links a {
  font-weight: bold;
  color: #3f4944;
  text-decoration: none;
}

#article-links img {
  margin-right: 20px;
}

#article-show {
  background: white;
  padding: 20px;
  border: .5px solid #57645d;
  color: #555;
}

#article-show h1 strong {
  color: #6CA1B1;
}



.bit-5 {
  background: white;
  padding: 20px;
  text-align: center;
  border: .5px solid #b4b4b4;
  color: #F18C3C;
  float: right;
  display: block;
}

.bit-75 {
  background: white;
  padding: 20px;
  text-align: left;
  border: .5px solid #b4b4b4;
  color: #555;
  text-indent: 10px;
}


.clearfooter {
  height: 330px;
  clear: both;
}

#contact {
  background: white;
  padding: 20px;
  border: .5px solid #57645d;
  color: #57645d;
  text-indent: left;
}

#contact h1 {
  color: #6CA1B1;
}

#contact-content {
  text-align: left;
}


footer {
  position: relative;
  margin-top: 20px;
  width: 100%;
  height: 330px;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left bottom,
  color-stop(0.01, #A1A3A6),
  color-stop(1, #CBCDCF)
);
background-image: -o-linear-gradient(left bottom, #A1A3A6 1%, #CBCDCF 100%);
background-image: -moz-linear-gradient(left bottom, #A1A3A6 1%, #CBCDCF 100%);
background-image: -webkit-linear-gradient(left bottom, #A1A3A6 1%, #CBCDCF 100%);
background-image: -ms-linear-gradient(left bottom, #A1A3A6 1%, #CBCDCF 100%);
background-image: linear-gradient(to left bottom, #A1A3A6 1%, #CBCDCF 100%);
  box-shadow: 10px 5px 5px rgba(0,0,0,0.5);
  }



html,body {
  background: #EFF0EB;
  height: 100%;
}


#login {
  float: right;
  margin-right: 10px;
}

#login a {
  text-decoration: none;
  color: #efeddf;
}

#login-form {
  text-align: center;
  color: #57645d;
}

#main-header {
  height: 140px;
  background-image: -webkit-gradient(
  linear,
  left bottom,
  left bottom,
  color-stop(0.01, #A1A3A6),
  color-stop(1, #CBCDCF)
);
  background-image: -o-linear-gradient(left bottom, #A1A3A6 1%, #CBCDCF 100%);
  background-image: -moz-linear-gradient(left bottom, #A1A3A6 1%, #CBCDCF 100%);
  background-image: -webkit-linear-gradient(left bottom, #A1A3A6 1%, #CBCDCF 100%);
  background-image: -ms-linear-gradient(left bottom, #A1A3A6 1%, #CBCDCF 100%);
  background-image: linear-gradient(to left bottom, #A1A3A6 1%, #CBCDCF 100%);
  position: fixed;
  top: 0px;
  margin: auto;
  z-index: 100000;
  width: 100%;
  box-shadow: 5px 5px 10px rgba(0,0,0,0.5);

}

#main-nav {
}


#main-nav ul {
  text-align: center;
  margin-top: 80px;
}

#main-nav ul li {
  padding-left: 10px;
  display: inline-block;
  margin-right: 20px;
}

#main-nav ul li a {
  text-decoration: none;
  color: #555;
  font-size: x-large;
}

#new-article {
  color: white;
}


#new-article-path a {
  font-weight: bold;
  color: #3f4944;
}

#new-user {
  text-align: center;
  color: #57645d;
}

#recent-article li {
  list-style: none;
}

#recent-article li a {
  color: #555;
  text-decoration: none;
}

#sign-up {
  float: right;
  margin-right: 10px;
}

#sign-up a {
  text-decoration: none;
  color: #efeddf;
}

#title a {
  color: #6CA1B1;
  text-decoration: none !important;
}



