<footer>
  <div class='bit-4'>
  <h2>About</h2>
  <p>I'm Mark Hustad and this is my new blog built with Rails.</p>
</div>

<div class='bit-4'>
  <h2>Archives</h2>
  <p>You can find current and past posts written by me <%=link_to 'here', archives_path %>.</p>
</div>

<div class='bit-4'>
  <h2>Contact</h2>
  <p>If you have any questions or just want to get in touch you can contact me <%=link_to 'here', contact_path %>.</p>
</div>

<div class='bit-4'>
  <h2>Subscribe</h2>
  <p>This is just here because I didn't know what else to put here</p>
</div>
</footer>

